<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{meta_title}}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="{{asset 'css/style.css'}}" rel="stylesheet" />
  <link href="{{asset 'css/colors-dark.css'}}" rel="stylesheet" />

  {{ghost_head}}

</head>

<body class="{{body_class}}">



  {{#if @blog.cover}}
    <div id="coverimg" style="background-image: url({{@blog.cover}})"></div>
  {{/if}}



  <header id="header">
    {{#if @blog.logo}}
      <a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" /></a>
    {{else}}
      <h1><a href="{{@blog.url}}"><i class="icon-sun"></i> {{@blog.title}}</a></h1>
    {{/if}}
    <p>{{@blog.description}}</p>
  </header>



  <div id="page">



    <div id="sidebar">

      <nav>
        <ul>
          <li><a href="{{@blog.url}}">Home</a></li>
          <li><a href="http://twitter.com/redwall_hp">Twitter</a></li>
          <li><a href="{{@blog.url}}/rss/">RSS Feed</a></li>
        </ul>
      </nav>

      {{#post}}
      {{#if author}}
        <div class="bio">
          <img class="avatar" src="{{author.image}}" />
          <h3>{{author.name}}</h3>
          <p>{{author.bio}}</p>
        </div>
      {{/if}}
      {{/post}}

    </div>



    <div id="content">
      {{{body}}}
    </div>



  </div>



  <footer id="footer">
    <p class="copyright">Copyright &copy; {{date format='YYYY'}} {{@blog.title}}. Powered by <a href="http://ghost.org">Ghost</a>, theme by <a href="http://www.webmaster-source.com">Matt Harzewski</a></p>
  </footer>



  {{ghost_foot}}

  <script src="{{asset 'js/jquery.mobilemenu.min.js'}}"></script>
  <script src="{{asset 'js/prism.js'}}"></script>
  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>



</body>
</html>