{{!< default}}

{{#post}}
<article class="{{post_class}}">

    <h1><a href="{{ url }}">{{ title }}</a></h1>

    <div class="post-content">{{ content }}</div>

    <p class="meta">Posted on <span class="postdate">{{date format="MMM Do, YYYY"}}</span></p>

</article>
{{/post}}
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<section>
    <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        if (!setting.disqusShortName) {
            document.getElementsByClassName('dsq-brlink')[0].style.display = 'none';
            return false;
        }
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + setting.disqusShortName + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</section>
